.App{
  display: flex;
  flex-direction: row;
  background-color: rgba(0,0,0,0.05);
}
.LeftMenu {
  height: 1677px;
  width: 260px;
  background-color: #04162C;
  margin-left: 40px;
}
.TopMenu {
  box-sizing: border-box;
  height: 100px;
  width: 1181px;
  border: 1px solid #ECECEC;
  background-color: #FFFFFF;
}
.logo {
  position: relative;
  left: 40px;
  top: 35px;
  height: 34.94px;
  width: 150.04px;
  margin-bottom: 48px;
}
.side_logo{
  width: 22px;
}
.side_text{
  height: 20px;
  width: 67px;
  color: #939598;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 21px;
  padding-top: 7px;
  padding-left: 10px;
}
.eachOption{
  display: flex;
  flex-direction: row;
  height: 58px;
  width: 192px;
  padding: 20px;
  padding-left: 45px;
}
.eachOption:hover{
  background-color: rgba(255,255,255,0.05);
  border-left: 4px solid #5BBC2E;
}