.App{
  display: flex;
  flex-direction: row;
  background-color: rgba(0,0,0,0.05);
}
.LeftMenu {
  height: 1677px;
  width: 260px;
  background-color: #04162C;
  margin-left: 40px;
}
.TopMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  height: 100px;
  width: 1181px;
  border: 1px solid #ECECEC;
  background-color: #FFFFFF;
}
.logo {
  position: relative;
  left: 40px;
  top: 35px;
  height: 34.94px;
  width: 150.04px;
  margin-bottom: 60px;
}
.side_logo{
  width: 22px;
}
.side_text{
  height: 20px;
  width: 67px;
  color: #939598;
  font-family: "Poppins",sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 21px;
  padding-top: 7px;
  padding-left: 10px;
}
.eachOption{
  display: flex;
  flex-direction: row;
  height: 58px;
  width: 192px;
  padding: 15px;
  padding-left: 45px;
}
.eachOption:hover, .eachOptionClicked{
  background-color: rgba(255,255,255,0.05);
  border-left: 4px solid #5BBC2E;
}
.side_text:hover, .side_text_Clicked{
  color: #ffffff;
}
.SearchBox{
  display: flex;
  height: 48px;
  width: 360px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.05);
  align-items: center;
  margin-left: 24.5px;
  margin-right: 482px;
}
.Search_Icon{
  margin: 12px;
}
#search{
  background-color: rgba(0,0,0,0.01);
  border: none;
  height: 17px;
  width: 160px;
  color: #939598;
  font-family: "Poppins",sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}
#search:focus{
  border: none;
  outline:none;
  color: #000000;
}
.addProject {
  display: flex;
  align-items: center;
  height: 48px;
  width: 134px;
  border-radius: 4px;
  background-color: #5BBC2E;
}
.addProject_Clicked{
  display: flex;
  align-items: center;
  height: 48px;
  width: 134px;
  border-radius: 4px;
  background-color: #ff00ff;
}
.add-project-text {
  height: 20px;
  width: 84px;
  color: #FFFFFF;
  font-family: "Poppins",sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
  margin: 14px;
}
.Icon_Plus{
  margin: 16px 0px 14px 12px;
}
.divider{
  box-sizing: border-box;
  height: 32px;
  width: 1px;
  border: 2px solid #F2F3F5;
  margin: 19.5px;
}
.Notification_Icon{
  margin: 2px;
}
.SubHeading{
  height: 34px;
  width: 200px;
  color: #232323;
  font-family: "Poppins",sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 24px;
  margin-top: 31px;
  margin-bottom: 24px;
}
.Dashboard{
  display: flex;
  flex-direction: row;
}
.ProjectOverview{
  height: 405px;
  width: 688px;
  border-radius: 8px;
  background-color: #FFFFFF;
  margin-right: 24px;
  margin-left: 24px;
}
.ProjectGallery{
  height: 405px;
  width: 420px;
  border-radius: 8px;
  background-color: #FFFFFF;
}